.nav-row {
  display: flex;
  flex-direction: row;

  width: 100%;
}
.wf1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brand-logo {
  width: 50%;
  border: 1px solid black;
}

.navbar-details {
  width: 50%;
}
.nav > li > a {
  padding: 5px;
  color: #fff;
  font-size: 12pt;
  font-weight: 600;
}
.nav-items {
  text-align: right;
}
.participants-details {
  display: flex;
  flex-direction: row;
}

.first-detail,
.second-detail,
.third-detail,
.fourth-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.first-numbers,
.second-numbers,
.third-numbers,
.fourth-numbers {
  color: white;

  letter-spacing: 0;
  background-attachment: fixed;
  white-space: nowrap;
  font-family: "Neogrey Medium";
  width: 50%;
  text-align: center;
}

.first-description,
.second-description,
.third-description,
.fourth-description {
  text-align: left;
  line-height: 14px;
  font-size: small;
  width: 50%;
  text-align: start;
  color: white;
}

.first-numbers {
  color: #dd74c8;
}

.second-numbers {
  color: #1ea4c1;
}

.third-numbers,
.fourth-numbers {
  color: #a2a1f2;
}
.panel1,
.panel2,
.panel3,
.panel4 {
  border: 1px solid green;
}

.balance-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10%;
}

#balance-child-display {
  font-size: 15pt;
  color: white;
  white-space: nowrap;
  background-color: #dd74c8;
  padding: 3px 10px;
  margin-top: 15px;
  border-radius: 3px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);

  text-align: center;
  position: relative;
}

.eth-wallet-address,
.smartcontract-address {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: small;
}
.eth-wallet {
  padding: 20%;
}
.sub-panel-1-logo-width {
  margin: 5%;
}
.sub-panel-1-width {
}

.sub-panel-1-flex {
  display: flex;
  text-align: center;

  color: white;
  font-size: large;
  font-weight: bold;
}
.sub-panel-1-flex-child2 {
  align-items: center;
}

.id- {
  color: #eee;
  font-weight: bold;
  font-size: large;
  text-align: start;
}

.bal-dollars {
  text-align: center;
  font-weight: bold;
  font-size: large;
  color: #ff6cc5;
}

.sub-panel3 {
  display: flex;
  flex-direction: column;
}

.sub-panel3-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5%;
}

.sub-panel3-child2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: pink;
}

.sb-child-panel {
  margin: 10%;
  border: 1px solid red;
}

.panel2 {
  display: flex;
  flex-direction: column;
  padding: 15%;
}
.sub-child-panel3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#btn-eth2 {
  position: relative;
  left: 60px;
  bottom: 5px;
  background: #00b0c2;
  padding: 1px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 9pt;
  line-height: 20px;
  color: #f7f7f7;
  font-weight: 600;

  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
}
#btn-eth {
  position: relative;
  left: 10px;
  bottom: -10px;
  background: #00b0c2;
  padding: 3px 15px;
  border-radius: 3px;
  font-weight: 700;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
  font-size: 12pt;
}

.currency {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10%;
}

.notification-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.nfication {
  font-size: smaller;
  color: white;
  text-align: start;
}

.telegram {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.globe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.USD,
.EUR,
.RUB {
  font-size: small;
  color: white;
}

.panel2-flex-row {
  display: flex;
  flex-direction: row;
}
.pf1 {
  display: flex;
  flex-direction: row;
  font-size: x-small;
  width: 50%;
  color: rgba(255, 255, 255, 0.7);
}
.pfs {
  display: flex;

  flex-direction: row;
  width: 100%;
}
.pf2 {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.pf-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#btn-etscan {
  position: absolute;
  bottom: -11px;
  background: #00b0c2;
  border-radius: 3px;
  padding: 1px 10px;
  display: inline-block;
  box-shadow: 1px 2px 3px (0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 9pt;
  line-height: 20px;
  color: #f7f7f7;
  font-weight: 600;
  right: -5px;
}

#btn-etscan2 {
  position: absolute;
  bottom: -11px;
  background: #00b0c2;
  border-radius: 3px;
  padding: 1px 10px;
  display: inline-block;
  box-shadow: 1px 2px 3px (0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 9pt;
  line-height: 20px;
  color: #f7f7f7;
  font-weight: 600;
}

.x3-panel {
  border: 1px solid purple;
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.six-tree-x3-level-1,
.six-tree-x3-level-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.x3-panel-child,
.x4-panel-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.platforms-details {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.eth-cost,
.reopen {
  font-size: xx-small;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

.partners-platform {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: white;
  font-size: xx-small;
  justify-content: center;
}

.partners-platform-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.wf2-parent {
  width: 70%;
}
.wf2 {
  display: flex;
  flex-direction: column;
}

.wf2-child {
  display: flex;
  flex-direction: column;
}
.overflow-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.overflow-col1,
.overflow-col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: small;
}

.wf-parent {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.holder {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .wf-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .holder {
    display: flex;
    flex-direction: column;
  }
  .hol {
    display: flex;
    flex-direction: row;
  }
  .holder-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .wf2 {
    display: flex;
    flex-direction: column;
  }
  .wf2-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .nav-row {
    display: flex;
    flex-direction: column;
  }
  .brand-logo {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  .navbar-details {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .abk {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .participants-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
